<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                                           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>uts.isd.model.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB</servlet-name>
        <servlet-class>uts.isd.model.dao.DB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnector</servlet-name>
        <servlet-class>uts.isd.model.dao.DBConnector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>uts.isd.model.dao.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>uts.isd.model.Payment</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>PaymentList</servlet-name>
        <servlet-class>uts.isd.model.PaymentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentUpdate</servlet-name>
        <servlet-class>uts.isd.controller.PaymentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPayment</servlet-name>
        <servlet-class>uts.isd.controller.FindPayment</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.project.controller.UserController</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB</servlet-name>
        <url-pattern>/DB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnector</servlet-name>
        <url-pattern>/DBConnector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentList</servlet-name>
        <url-pattern>/PaymentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentUpdate</servlet-name>
        <url-pattern>/PaymentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPayment</servlet-name>
        <url-pattern>/FindPayment</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>-->
    <!--    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->
</web-app>
